@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.navbar {
  background-color: #1b1a17;
}

/* Jumbotron */

.jumbotron {
  background-image: url(asset/svg.png);
  background-size: cover;
  height: 640px;
  padding-top: 5%;
  cursor: default;
}

.text-jumbotron {
  max-width: 700px;
  min-width: 20%;
  background-color: rgba(0, 0, 0, 0.795);
  margin-left: auto;
  margin-right: auto;
  padding: 50px 40px;
  border-radius: 20px;
  color: white;
}

.text-jumbotron h1 {
  font-weight: bold;
}

.text-jumbotron p a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid white;
}
/* Tentang */
#tentang .container h1 {
  font-weight: bold;
  font-variant: small-caps;
}

#tentang .container p {
  font-size: 20px;
  margin-top: -10px;
}
